.vscode
.DS_Store

# Wykluczenie skompilowanych plików wykonywalnych i plików użytkownika w projekcie '001'
001\ -\ operacje\ na\ stringach/*/z?
001\ -\ operacje\ na\ stringach/user-data/*

# Wykluczenie skompilowanych plików wykonywalnych i plików użytkownika w projekcie '002'
002\ -\ losowanie\ liczb\ i\ operacje\ na\ tablicach/*/z?
002\ -\ losowanie\ liczb\ i\ operacje\ na\ tablicach/user-data/*